<%= form_for(@user) do |f| %>
  <fieldset class="inputs">
    <ol>
      <li class="string required title">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= error_messages_for(@user, :name) %>
      </li>
      <li class="string required title">
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= error_messages_for(@user, :email) %>
      </li>
      <li class="password required">
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= error_messages_for(@user, :password) %>
      </li>
      <li class="password required">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </li>
      <% if !@user.new_record? %>
      <li>
        <span class="user_photo"><%= gravatar_for @user %></span>
        <strong>
          Change you avatar at
          <a href="http://gravatar.com/emails" target="_blank">gravatar.com</a>
        </strong><br />
        <span class="quiet">You're using <%= @user.email %></span>
      </li>
      <% end %>
    </ol>
  </fieldset>
  <fieldset class="buttons">
    <ol>
      <li><%= f.submit (@user.new_record?) ? "Sign up" : "Update" %></li>
      <li><%= link_to "Cancel", root_path, :class => "cancel" %></li>
    </ol>
  </fieldset>
<% end %>
