<div id="content" class="column grid_12">
  <div class="inner">
    <div class="user_photo large">
      <%= gravatar_for @user, :size => 150 %>
    </div>
    
    <%= render @user %>
    <hr />
    
  </div>
  
  <div class="row">
    <div class="column grid_6">
      <div class="inner last">
    
        <h3>Latest posts:</h3>
        
        <% unless @user.microposts.empty? %>
        <ul class="microposts">
          <%= render @microposts %>
        </ul>
        <%= will_paginate @microposts %>
        <% else %>
        <%= render 'microposts/blank_slate' %>
        <% end %>
      
      </div>
    </div>
    
    <div class="column grid_6">
      <div class="inner last">
        <h3>Latest activities:</h3>
      </div>
    </div>
  </div>
</div>
