<div id="content" class="column grid_12">
  <div class="inner">
    <%= render 'shared/back_link' %>
    <h2>Project overview</h2>
    <hr />
    
    <div id="action_bar">
    <% if current_user.admin? %>
      <%= link_to 'Edit project', edit_project_path(@project), :class => "button" %>
      <%= link_to 'Delete project', @project, :method => :delete, :confirm => "Are you sure?", :class => "button" %>
    <% end %>
    </div>
    
  </div>
  
  <div class="row">
    <div class="column grid_12">
      <div class="inner">
        
        <%= render 'panel' %><br />
        
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="column grid_6">
      <div class="inner last">
    
        <h3>Description:</h3>
        <p><%= simple_format @project.description %></p>
        
        <hr class="space" />
        
      </div>
    </div>
    
    <div class="column grid_6">
      <div class="inner last">
      
      <h3>Team members:</h3>
      <% @project.users.each do |user| %>
        <%= link_to gravatar_for(user), user, :title => user.name %>
      <% end %>
      </div>
    </div>
  </div>
</div>
