<!DOCTYPE html>
<html class="no-js">
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :flutie, "grid", "buttons", "iconic", "application" %>
  <%= javascript_include_tag :defaults, "modernizr" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= render 'layouts/header' %>

  <div id="wrap" class="row">
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>

</body>
</html>
